In [1]:
#Write a program to print numbers from 1 to 10, but stop if the number is 5.

a = 1
while a <= 10:
    a = a + 1
    if a == 5:
        continue
    print(a)

2
3
4
6
7
8
9
10
11

In [ ]:
Write a program to iterate through a list and stop when encountering a specific element.

l=[1,2,3,4,5,6,7,8]
for i in l:
    if i==6:
print(i)

In [41]:
#print 1 to 10 number and skip even number 

for i in range(1,11):
    if i%2==0:
        continue
    print(i)

1
3
5
7
9

In [45]:
#Write a program to print numbers from 0 to 9 using range

for i in range(0, 10):
     print(i)

0
1
2
3
4
5
6
7
8
9

In [46]:
#Write a program to print multiplication tables from  to 5, but stop after the first table is printed for each
#number.

for i in range(1, 6):  # Iterate through numbers from 1 to 5
    print(f"Multiplication table for {i}:")
    for j in range(1, 11):  # Print the multiplication table for the current number
        print(f"{i} x {j} = {i * j}")
    print()  # Add a blank line after each table

Multiplication table for 1:
1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10

Multiplication table for 2:
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

Multiplication table for 3:
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

Multiplication table for 4:
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40

Multiplication table for 5:
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [1]:
#Write a program to skip printing even numbers using a while loop.

number = 1
while number <= 10:
    if number % 2 == 0:
        number += 1
        continue
    print(number)
    number += 1

1
3
5
7
9