In [1]:
# print 1 to 5 no using while loop
a=1
while a<=5:
    print(a)
    a=a+1

1
2
3
4
5

In [8]:
#Calclate the m of nmber from 1 to 10 ing a while loop.

a = 1
sum_of_numbers = 0
while a <= 10:
    sum_of_numbers = sum_of_numbers + a
    a = a + 1
print("The sum of numbers from 1 to 10 is:", sum_of_numbers)

The sum of numbers from 1 to 10 is: 55

In [16]:
#Calclate the factorial of a nmber ing a for loop.
def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n-1)
    #example uses 
number = 5
result = factorial(number)
print(f"The factorial of {number} is {result}")

The factorial of 5 is 120

In [17]:
#Cont the nmber of vowel in a tring ing a for loop.

def count_vowels(string):
    vowels = 'aeiouAEIOU'
    count = 0
    for char in string:
        if char in vowels:
            count += 1
    return count
# Example usage:
input_string = "shankar"
vowel_count = count_vowels(input_string)
print("Number of vowels in the string:", vowel_count)

Number of vowels in the string: 2

In [18]:
#Print a pattern using nested loop.
def print_pattern(rows):
    for i in range(1, rows + 1):
        for j in range(1, i + 1):
            print("*", end=" ")
        print()

# Example usage:
num_rows = 5
print_pattern(num_rows)

*
* *
* * *
* * * *
* * * * *

In [21]:
#Generate a mltiplication table ing neted loop.

def multiplication_table (n):
    for i in range(1, n+1):
        for j in range (1, n+1):
            print(i * j, end="\t")
        print()

# Example usage:
size = 5
multiplication_table(size)

1	2	3	4	5
2	4	6	8	10
3	6	9	12	15
4	8	12	16	20
5	10	15	20	25